numpy == 1.19.1
matplotlib == 3.3.0
pydicom == 2.0.0
nibabel == 3.1.1
pynrrd	== 0.4.2
pyyaml == 5.3.1
sklearn == 0.0
scikit-image ==0.17.2
scipy == 1.5.2
pandas == 1.1.0
keras == 2.3.1
tensorflow == 2.0.0
SimpleITK == 1.2.4
nibabel == 3.1.1
opencv-python == 4.4.0.44
